ol{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
}
li{
    margin: 1px;
}

.dev{
    background: green;
}

.primer-dia{
grid-column-start: 5;
}

.primer-dia-agosto{
    grid-column-start: 1;
}
.primer-dia-setiembre{
    grid-column-start: 4;
}

.diadelasemana{
    background-color: steelblue;
    color: white;
}

.franco{
    background-color: tomato;
}

.calendar{
    text-align: center;
    margin: 25px;
}