<mat-card class="calendar">
    <h1>Julio</h1>
    <ol>
        <li class="diadelasemana">Lunes</li>
        <li class="diadelasemana">Martes</li>
        <li class="diadelasemana">Miercoles</li>
        <li class="diadelasemana">Jueves</li>
        <li class="diadelasemana">Viernes</li>
        <li class="diadelasemana">Sabado</li>
        <li class="diadelasemana">Domingo</li>

        <li class="primer-dia">1</li>
        <li>2</li>
        <li>3</li>
        <li  class="franco" matTooltip="Es tu dia de franco">4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>
        <li  class="franco" matTooltip="Es tu dia de franco">11</li>
        <li>12</li>
        <li>13</li>
        <li>14</li>
        <li>15</li>
        <li>16</li>
        <li  class="franco" matTooltip="Es tu dia de franco">17</li>
        <li>18</li>
        <li>19</li>
        <li>20</li>
        <li>21</li>
        <li>22</li>
        <li  class="franco" matTooltip="Es tu dia de franco">23</li>
        <li>24</li>
        <li>25</li>
        <li>26</li>
        <li  class="franco" matTooltip="Es tu dia de franco">27</li>
        <li>28</li>
        <li class="dev" matTooltip="Hoy tenes devolución con tu lider">29</li>
        <li>30</li>
        <li  class="franco" matTooltip="Es tu dia de franco">31</li>
    </ol>
</mat-card>

<mat-card class="calendar">
    <h1>Agosto</h1>
    <ol>
        <li class="diadelasemana">Lunes</li>
        <li class="diadelasemana">Martes</li>
        <li class="diadelasemana">Miercoles</li>
        <li class="diadelasemana">Jueves</li>
        <li class="diadelasemana">Viernes</li>
        <li class="diadelasemana">Sabado</li>
        <li class="diadelasemana">Domingo</li>

        <li class="primer-dia-agosto">1</li>
        <li>2</li>
        <li>3</li>
        <li  class="franco" matTooltip="Es tu dia de franco">4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>
        <li  class="franco" matTooltip="Es tu dia de franco">11</li>
        <li>12</li>
        <li>13</li>
        <li>14</li>
        <li>15</li>
        <li>16</li>
        <li  class="franco" matTooltip="Es tu dia de franco">17</li>
        <li>18</li>
        <li>19</li>
        <li>20</li>
        <li>21</li>
        <li>22</li>
        <li  class="franco" matTooltip="Es tu dia de franco">23</li>
        <li>24</li>
        <li class="dev" matTooltip="Hoy tenes devolución con tu lider">25</li>
        <li>26</li>
        <li  class="franco" matTooltip="Es tu dia de franco">27</li>
        <li>28</li>
        <li>29</li>
        <li>30</li>
        <li  class="franco" matTooltip="Es tu dia de franco">31</li>
    </ol>
</mat-card>

<mat-card class="calendar">
    <h1>Setiembre</h1>
    <ol>
        <li class="diadelasemana">Lunes</li>
        <li class="diadelasemana">Martes</li>
        <li class="diadelasemana">Miercoles</li>
        <li class="diadelasemana">Jueves</li>
        <li class="diadelasemana">Viernes</li>
        <li class="diadelasemana">Sabado</li>
        <li class="diadelasemana">Domingo</li>

        <li class="primer-dia-setiembre">1</li>
        <li>2</li>
        <li>3</li>
        <li  class="franco" matTooltip="Es tu dia de franco">4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>
        <li  class="franco" matTooltip="Es tu dia de franco">11</li>
        <li>12</li>
        <li>13</li>
        <li class="dev" matTooltip="Hoy tenes devolución con tu lider">14</li>
        <li>15</li>
        <li>16</li>
        <li  class="franco" matTooltip="Es tu dia de franco">17</li>
        <li>18</li>
        <li>19</li>
        <li>20</li>
        <li>21</li>
        <li>22</li>
        <li  class="franco" matTooltip="Es tu dia de franco">23</li>
        <li>24</li>
        <li>25</li>
        <li>26</li>
        <li  class="franco" matTooltip="Es tu dia de franco">27</li>
        <li>28</li>
        <li>29</li>
        <li>30</li>

    </ol>
</mat-card>